<p id="notice"><%= notice %></p>

<p>
  <strong>Medium:</strong>
  <%= @resource.medium %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @resource.image %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
